@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-origin: content-box;
        background: #FFF url('../img/bg_fundo_xl.jpg') no-repeat center top;
        background-size: cover;
        background-attachment: fixed;
        /* overflow: hidden; */
    }
    body#tkp {
        background-origin: content-box;
        background: #FFF url('../img/tkp_fundo_xl.jpg') no-repeat center top;
        background-size: cover;
    }
    .conteudo > .row > div {
        text-align: right;
        min-height: 60vh
    }
    .chamada {
        position: absolute;
        right: -80px;
        top: 150px;
        width:600px
    }
    .chamada_m {
        display: none;
        position: absolute;
        right: 10px;
        top: 120px;
        width: 90vw;
        max-width: 90vw;
    }
    .economia {
        position: absolute;
        right: 130px;
        top: 380px;
        width: 400px;
    }
    .trio {
        /* clear: both; */
        position: absolute; 
        right: 100px; 
        top: 50px;
        width: 450px; 
    }

    .box {
        border-radius: 20px;
        max-width: 300px;
        right: 100px;
        margin-top: 150px;
    }

    .box p {
        font-size: 16px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
    }

    .box p span {
        font-size: 19px;
        font-weight: bold;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #inscreva {
        font-size: 1.3rem; 
    }


}