@media (min-width: 1px) and (max-width: 375px) {
    body {
        background-origin: content-box;
        background: #FFF url('../img/bg_fundo_xl_m.jpg') no-repeat left top;
        background-size: cover;
        background-attachment: fixed;
        
    }
    body#tkp {
        background-origin: content-box;
        background: #d20408 url('../img/tkp_fundo_xs.jpg') no-repeat center top;
        background-size: cover;
    }
    .conteudo > .row > div{
        text-align: right;
        height: 400px;
        /* border: solid 1px yellow; */
    }
    .chamada_m {
        position: absolute;
        right: 10px;
        top: 50px;
        width: 95vw;
        max-width: 95vw;
    }
    .chamada {
        display: none;
        position: absolute;
        right: 10px;
        top: 120px;
        width: 100vw;
        max-width: 100vw;
    }
    .economia {
        position: absolute;
        right: 0px;
        top: 300px;
        width: 100vw;
        max-width: 100vw;
    }
    .trio {
        /* clear: both; */
        position: absolute; 
        right: 0px; 
        top: 50px;
        width:95vw;
        max-width: 95vw;
        
    }

    .box {
        border-radius: 20px;
        max-width: 95vw;
        right: 10px;
        top: -115px;
        position: absolute;
        
    }

    .box p {
        font-size: 16px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
    }

    .box p span {
        font-size: 19px;
        font-weight: bold;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #inscreva {
        font-size: 1.3rem; 
    }
}