@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-origin: content-box;
        background: #FFF url('../img/bg_fundo_xl.jpg') no-repeat left top;
        background-size: cover;
        background-attachment: fixed;
        
    }
    body#tkp {
        background-origin: content-box;
        background: #FFF url('../img/tkp_fundo_xl.jpg') no-repeat center top;
        background-size: cover;
    }
    .conteudo > .row > div {
        text-align: right;
        height: 400px;
    }
    .chamada {
        position: absolute;
        right: 10px;
        top: 150px;
        width:600px
    }
    .chamada_m {
        display: none;
        position: absolute;
        right: 10px;
        top: 120px;
        width: 90vw;
        max-width: 90vw;
    }
    .economia {
        position: absolute;
        right: 150px;
        top: 350px;
        width: 400px;
    }
    .trio {
        /* clear: both; */
        position: absolute; 
        right: 50px; 
        top: 150px;
        width: 450px; 
        padding: 3px
    }

    .box {
        border-radius: 20px;
        max-width: 400px;
        right: 40px;
        top: 40px;
        position: absolute;
        
    }

    .box p {
        font-size: 16px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
    }

    .box p span {
        font-size: 19px;
        font-weight: bold;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #inscreva {
        font-size: 1.3rem; 
    }

    
}