@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,500i,700,700i&display=swap');

section {
    height: auto;
}

.box-wrap-dobra-1{
    height: 100vh;
}
.box-wrap-dobra-1 .part-1{
    background-color: #201a55;
    background-image: url('../img/inauguracao-abaete/dobra-1-background.png');
    background-repeat: no-repeat;
    background-size: 75vh;
    background-position: 20% top;
    height: 50vh;
}
.box-wrap-dobra-1 .part-2{
    background-color: #fff;
    height: 25vh;
}
.box-wrap-dobra-1 .part-3{
    background-color: #fff;
    height: 25vh;
}


.nopadding {
    padding: 0 !important;
    
 }

.nomargin {
    margin: 0 !important;
}

.model-box {
    height: 50vh;
    overflow: hidden;
}
.model-box img {
    position: absolute;
    bottom: -50px;
    left: center;
    width: 90%
}
.text-box {
    background-image: url('../img/inauguracao-abaete/text.png');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: left 10px bottom 15px
}

.box-wrap-dobra-1 .part-2 {
    padding: 52px 0;
}
.box-wrap-dobra-1 .part-2 .valido-ate {
    width: 100%;
    margin: 0 auto;
}
.box-wrap-dobra-1 .part-2 .valido-ate .valido-header {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.box-wrap-dobra-1 .part-2 .valido-ate .valido-body {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-wrap-dobra-1 .part-2 .restante {
    width: 100%;
    /* margin: 0 auto; */
}

.box-wrap-dobra-1 .part-2 .restante .restante-header {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-wrap-dobra-1 .part-2 .restante .restante-body {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-wrap-dobra-1 .part-2 .matriculados {
    width: 100%;
    margin: 0 auto;
}
.box-wrap-dobra-1 .part-2 .matriculados .matriculados-header {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-wrap-dobra-1 .part-2 .matriculados .matriculados-body {
    padding: 8px;
    text-align: center;
    border: solid 3px #a61a33;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-wrap-dobra-1 .part-2 .valido-ate .valido-header span,
.box-wrap-dobra-1 .part-2 .restante .restante-header span,
.box-wrap-dobra-1 .part-2 .matriculados .matriculados-header span {
    font-weight: bolder;
    color: #201a55;
    font-size: 1.5em
}
.box-wrap-dobra-1 .part-2 .valido-ate .valido-body,
.box-wrap-dobra-1 .part-2 .restante .restante-body,
.box-wrap-dobra-1 .part-2 .matriculados .matriculados-body {
    font-weight: bolder;
    color: #201a55;
    font-size: 2em
}


.dobra1 {
    background-image: url('../img/inauguracao-abaete/dobra-1-background.jpg');
    height: 684px;
    background-repeat: no-repeat;
}
.footer-dobra1 {
    height: 60px;
    background-color: #781114;
    color: #fff;
    padding: 8px 0;
}
.dobra1 img {
    width: 450px;
    /* margin-right: 20px; */
    margin-top: 130px;
    margin-left: 100px;
}


.footer-dobra1 img {
    height: 40px;
    margin-right: 20px;
}

.footer-dobra1 span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.box-wrap-dobra-1 .part-3 .cta-faca-inscricao img {
    width: 60%
}
.box-wrap-dobra-1 .part-3 {
    /* background-color: #a61a33; */
    background-image: url('../img/inauguracao-abaete/bg-top-dobra.png');
    background-repeat: no-repeat;
    padding-top: 100px;
}

.box-wrap-dobra-2 {
    background-color: #e30b2d;
    min-height: 100vh;
    height: auto;
}
.box-wrap-dobra-2 .box-form {
    margin-bottom: 30px;
}
.box-wrap-dobra-2 .box-form .box-part1-form-header {
    background-color: #363636;
    height: 80px;
    padding: 20px 180px;
    font-size: 2rem;
    color: #fff;
    border-radius: 15px 15px 0 0;
    font-weight: bolder;
}

.box-wrap-dobra-2 .box-form .box-part1-form-body {
    background-color: #fff;
    border-radius: 0 0 15px 15px;

    padding: 20px ;
}


.box-niveis {
    padding: 30px 0px;
}

.box-niveis .btn-nivel-opt {
    margin: 0 auto;
    cursor: pointer;
    padding: 8px;
    
    border-radius: 10px;
    width: 80%;
    color: #2e3192;
    
}
.box-niveis .btn-nivel-opt.active {
    text-align: right;
    padding: 8px 10px;
    background-color: #2e3192;
    border-radius: 10px;
    width: 80%;
    color: #fff;
    font-weight:normal;
    background-image: url('../img/inauguracao-abaete/ckd.png');
    background-position: left 10px center;
    background-repeat: no-repeat;
}


.box-wrap-dobra-2 .box-form .box-end-form-body {
    /* background-color: #fff; */
    border-radius: 0 0 15px 15px;
    color: #fff;
    padding: 20px ;
}

/*




.dobra2 .content-dobra2 {
    padding: 80px 0;
}
.dobra2 .content-dobra2 .areas-icons div h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px 15px 60px 15px;
}
.dobra2 .dobra2-title h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.0rem;
    margin-bottom: 60px;
}

.dobra2 .dobra2-separator-text h3{
    color: #282c52;
    padding: 15px;
    background-color: #fff;
    margin-top: 98px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.dobra2 .dobra2-porque-fazer {
    margin-top: 50px;
}
.dobra2 .dobra2-porque-fazer h4 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.dobra2 .dobra2-porque-fazer p {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-top: 15px;
}

#lpForm {
    
    margin-top: 100px;
    border-radius: 15px;
    padding: 30px;
    
    background-color: #78111498
}
#lpForm h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
}
#lpForm a.regulamento {
    color: #fff;
    text-align: center
}

#tkp {
    background-image: url('../img/inauguracao-abaete/dobra-2-background.jpg');
    background-color: #282c52;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10px;
    color: #fff;
}*/