.btn-hover {
    position: relative;
    background-color: red;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.btn-hover:hover{
   background:#fff;
   box-shadow: 0px 1px 33px 2px #d31717;
   color:#000;
}

.btn-hover:after {
    content: "";
    
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn-hover:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-glass-hover2 {
  text-align: center;
  display: inline-block;
  /*padding: 10px 40px;*/
  cursor: pointer;
  letter-spacing: 1px;
  position:relative;
  overflow:hidden;
  margin: 0 10px;
}

.btn-glass-hover2:before {
  content: "";
  position: absolute;
  height: 170px;
  width: 50px;
  background : #fff;
  left: -80px;
  top: -50px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.btn-glass-hover2:hover:before {
  left:110%;
}

.reflexo2 {
  position: absolute;
  height: 170px;
  width: 50px;
  background : #fff;
  left: -80px;
  top: -50px;
  transform: rotate(37deg);
  opacity: 0.3;
}